.featuredshows {
    width: 30%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    overflow: hidden;
    transition: background-color 0.3s ease; /* Smooth background transition */
}

.featuredshows > img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease; /* Smooth scaling effect */
}

/* Hover effect */
.featuredshows:hover {
    background-color: darkgreen; /* Change background color on hover */
}

.featuredshows:hover > img {
    transform: scale(1.1); /* Slightly enlarge image */
}
